<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.acti.TestCase.BaseTest"/>
      <class name="com.acti.TestCase.LoginTest"/>
      <class name="com.acti.TestCase.TasksPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
